.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.rating>input {
    display: none
}

.rating>:not(.ratingScore) {
    -webkit-text-stroke: 1px black; /* width and color */
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: white;
}

.rating>label {
    cursor: pointer
}


.rating>.ratingScore {
    color:black;
    font-size: 22px;
    margin-top: 6px;
}

.ratingDisplay, .ratingDisplay ~ :not(.ratingScore) {
    color: #FFD600!important;
}

.ratingDisplay::before,
.ratingDisplay ~ span:before {
    position: absolute;
    color: #FFD600;
}

.rating>label::before {
    position: absolute;
    opacity: 0
}

.rating>label:hover, 
.rating>label:hover ~ label:not(.ratingDisplay,.ratingDisplay~label){
    color: #ffe876!important;
}

.rating>label:hover:before,
.rating>label:hover ~ label:before {
    opacity: 1 !important
}

.rating>input:checked ~ label:before {
    opacity: 1
}

.rating:hover>input:checked ~ label:before {
    opacity: 0.4
}

.buttons{
    top: 36px;
    position: relative;
}