<div class="col-md-11 col-lg-9 h-100 d-flex justify-content-between">
    <a href="create_post.php" class="h-50 my-auto" id="create_post" style="margin-left: max(50px, 8%);">
        <img src="img/recipe-icon.png" alt="Create post" class="h-100"/>
    </a>
    <!-- <button type="button" id="create_post" alt="Create post" class="h-100 w-25"></button> -->
    <a href="index.php" class="h-100 align-items-center">
        <img src="img/logo-ph.png" alt="Ratatweet logo" class="h-100"/>
    </a>
</div>