<div class="col-12 col-md-11 col-lg-9 h-100 d-flex justify-content-between">
    <div class="col-3 d-flex justify-content-center">
        <a href="create_post.php" class="h-50 d-block d-lg-none m-auto" id="create_post">
            <img src="img/upload-icon.png" alt="Create post" class="h-100"/>
        </a></div>
    <a href="index.php" class="h-100 pt-2 pb-1">
        <img src="img/recipe-icon.png" alt="Ratatweet logo" class="h-100"/>
    </a>
    <div class="col-3 text-center my-auto">
        <a href="index.php" onclick="logout()" class="w-auto my-auto text-center">
            Logout
        </a>
    </div>
</div>